/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    color: #333;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
  } */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

  .form {
    position: relative;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif !important;
    width: 100%;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    margin: 0px !important;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.5);
  }

  .form .fa-times:before {
    font-size: 1.5rem;
    content: "\f00d";
    position: absolute;
    top: 2rem;
    right: 2rem;
}

  .form a, h3{
    font-weight: bold;
    color: #636d77;
  }

  .form button h3{
    color: white;
  }
  .form .heading {
    font-size: 3rem;
  }
  .form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
  }
  
  .form-label,
  .form-message {
    text-align: left;
  }
  
  .form-label {
    /* font-weight: 700; */
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
  }
  
  .form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
  }
  
  .form-control:hover {
    border-color: #1dbfaf;
  }
  
  .form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
  .form-group.invalid .form-message {
    color: #f33a58;
  }
  
  .form-radio {
    flex-direction: row;
  }
  
  .form-radio div {
    display: flex;
    padding: 0 20px;
    flex-direction: row;
    align-items: center;
  }
  
  .form-radio p {
    font-size: 13px;
    padding: 5px;
  }
  
  #province {
    height: 30px;
  }
  
  .radio-input {
    width: 17px;
  }
  
  .form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
  }
  
  .form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .form-submit:hover {
    background-color: #1ac7b6;
  }

  .form-sig{
    outline: none;
    /* background-color: #1dbfaf; */
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #636d77;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }


  
  .spacer {
    margin-top: 36px;
  }
  